body{
    background-color: beige;
}

.insta-icon{
    color: #FFD580;
    transition: color 0.2s; 
    text-decoration: none;
    font-size: 100px;
    padding: 0;
}

.logo-instagram {
    vertical-align: middle;
}

.insta-icon:hover{
    color : #FF8C00; 
}

.instaDesc{
    font-size: 30px; 
    color: black;   
    text-align: center; 
    vertical-align: middle; 
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 70px 0;
}


.linked-icon{
    color: lightblue;
    transition: color 0.2s; 
    text-decoration: none;
    font-size: 100px;
    padding: 0;
}

.logo-linkedin{
    vertical-align: middle;
}

.linked-icon:hover{
    color: rgb(0, 110, 255);
}

.linkedDesc{
    font-size: 30px; 
    color: black;   
    text-align: center; 
    vertical-align: middle; 
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 70px 0;

}


.googlePlay-icon{
    color: lightgreen;
    transition: color 0.2s; 
    text-decoration: none;
    font-size: 100px;
    padding: 0;
}




.googlePlay-icon:hover{
    color: green;
}

.logo-google{
    vertical-align: middle;
}

.googleDesc{
    font-size: 30px; 
    color: black;   
    text-align: center; 
    vertical-align: middle; 
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 70px 0;
}


.checkMe{
    text-align: center;
    font-size: 50px; 
}