@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
    background-color: #f5f0e1;
    color: #1e3d59;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
} 
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: beige;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .about1, .about2, .skills, .contact, .experience, .resume, .secret{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.about1 .about1-content,
.about2 .about2-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content,
.experience .experience-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #ffc13b;
    padding: 0 5px;
    background: #f5f0e1;
    transform: translateX(-50%);
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #ffc13b;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #ffc13b;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #ffc13b;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #ffc13b;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

.home{
    display: flex;
    background: url("images/new_banner.jpeg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #ffc13b;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #ffc13b;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #ffc13b;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #ffc13b;
    background: none;
}





.about .title::after{
    content: "Who I Am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #ffc13b;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #ffc13b;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ffc13b;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #ffc13b;
    background: none;
}


.experience .title::after{
    content: "Experience";
}
.experience .experience-content .left{
    width: 45%;
}
.experience .experience -content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.experience .experience-content .right{
    width: 55%;
}
.experience .experience-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.experience .experience-content .right .text span{
    color: #ffc13b;
}
.experience .experience-content .right p{
    text-align: justify;
}
.experience .experience-content-sub-title a{

    font-size: 22px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
}

.experience .experience-content-sub-title p{

    font-size: 18px;

    padding: 10px 30px;

}


.experience .experience-content .right a:hover{
    color: #ffc13b;
    background: none;
}




.about1 .title::after{
    content: "Some Projects";
}

.about1 .about1-content .right{
    width: 55%;
}
.about1 .about1-content .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about1 .about1-content .right .text span{
    color: #ffc13b;
}
.about1 .about1-content p{
    text-align: justify;
}

.about1 .about1-content a{
    font-size: 18px;
}

.about1 .about1-content .my-padding{
    padding: 5;
}

.about1 .about1-content .right a:hover{
    color: #ffc13b;
    background: none;
}

.about1 .under-project{
    display: grid;
    place-items: center;
    align-content: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.about1 .about1-content .card{
    width: 500px;
    height: 500px;
}

.about1 .about1-content .card-section{
    padding-left: 10px;
}

.about1 .about1-content .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #1e3d59;
    border-radius: 25px;
}

.about1 .about1-content .card img{
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about1 .about1-content h4{
    color: #ffffff;
}

.about1 .about1-content p{
    color: #ffffff;
}
  
  /* On mouse-over, add a deeper shadow */
.about1 .about1-content .card:hover {
    box-shadow: 0 0 50px 10px #ffc13b;
}
  
  /* Add some padding inside the card container */
.about1 .about1-content .container {
    padding: 10px 16px;
    
}

.about1 .about1-content .container:nth-child(2){
    transition-delay: 2200ms;
}

.about1 .about1-content .container:nth-child(3){
    transition-delay: 400ms;
}

.about1 .about1-content .container:nth-child(4){
    transition-delay: 600ms;
}

.about1 .about1-content .container:nth-child(5){
    transition-delay: 800ms;
}

.about1 .about1-content .container:nth-child(6){
    transition-delay: 1000ms;
}

.about1 .about1-content .container:nth-child(7){
    transition-delay: 1200ms;
}

.about1 .about1-content .container:nth-child(8){
    transition-delay: 1400ms;
}


.about2 .title::after{
    content: "What I'm Listening Too";
}
.about2 .about1-content .left{
    width: 45%;
}
.about2 .about2 -content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about2 .about2-content .right{
    width: 55%;
}
.about2 .about2-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about2 .about2-content .right .text span{
    color: #ffc13b;
}
.about2 .about2-content .right p{
    text-align: justify;
}
.about2 .about2-content .right a{
    display: inline-block;
    background: #ffc13b;
    color: #1e3d59;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ffc13b;
    transition: all 0.3s ease;
}
.about2 .about2-content .right a:hover{
    color: #ffc13b;
    background: none;
}


.skills .title::after{
    content: "What I Know";
}


.skills .container{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skills .skill-box{
    padding: 1rem;
    color: #1e3d59;
}
.skills .skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width: 35px;
}

.skills .skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skills .skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2xp;
    background-color: #ffc13b;
    transition: .5s;
}

.skills .skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #ffc13b;
    transition: .5s;

}

.skills .skill-title h3{
    color: #1e3d59;
    margin-top: 0.5rem;
}
.skills .img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background: #1e3d59;
    display: flex;
    justify-content: center;
    align-items: center;
}


.skills .skill-icon{
    width: 60px;
    z-index: 2;
}

@media screen and (max-width: 990px){
    .skills .container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px){
    .skills .container{
        grid-template-columns: 1fr;
        padding: 2rem 50px;

    }
}


.resume .resume-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: safe center;
}


.resume .title::after{
    content: "My Resume";
}

.resume .resume-content  a{

    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;

}

.resume .resume-content .down a{
    background: #ffc13b;
    color: #fff;
    font-size: 20px;

    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ffc13b;
    transition: all 0.35s ease;
}
.resume .resume-content .down  a:hover{
    color: #ffc13b;
    background: none;
}




.contact .title::after{
    content: "Get In Touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .text1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px; 
}




.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 52px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #ffc13b;
}
.contact .contact-content .info .head{
    font-weight: 950;
}
.contact .contact-content .info .sub-title{
    color: #1e3d59;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}



@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

.secret{
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
}


.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



a:link {
    color: #ffc13b;
}
  

a:visited {
    color: #ffc13b;
}
  

a:hover {
    color: hotpink;
}
  

a:active {
    color: blue;
}

.about .about-content p{
    transition-delay: 300ms;
}

/*SKILL BOX*/
.skills .skill-box:nth-child(2){
    transition-delay: 200ms;
}

.skills .skill-box:nth-child(3){
    transition-delay: 300ms;    
}

.skills .skill-box:nth-child(4){
    transition-delay: 400ms; 
}

.skills .skill-box:nth-child(5){
    transition-delay: 500ms;   
}

.skills .skill-box:nth-child(6){
    transition-delay: 600ms;   
}
/*SKILL BOX*/


.experience .experience-content-sub-title:nth-child(2){
    transition-delay: 200ms;
}


/*MY PADDING*/
.about .my-padding:nth-child(2){
    transition-delay: 200ms;
}

.about .my-padding:nth-child(3){
    transition-delay: 400ms;
}

.about .my-padding:nth-child(4){
    transition-delay: 600ms;
}

.about .my-padding:nth-child(5){
    transition-delay: 800ms;
}

.about .my-padding:nth-child(6){
    transition-delay: 1000ms;
}

.about .my-padding:nth-child(7){
    transition-delay: 1200ms;
}

.about .my-padding:nth-child(8){
    transition-delay: 1400ms;
}
/*MY PADDING*/



/*PROJECTS*/
.about1:nth-child(2){
    transition-delay: 200ms;
}

.about1:nth-child(3){
    transition-delay: 400ms;
}

.about1:nth-child(4){
    transition-delay: 600ms;
}

.about1:nth-child(5){
    transition-delay: 800ms;
}

.about1:nth-child(6){
    transition-delay: 1000ms;
}

.about1:nth-child(7){
    transition-delay: 1200ms;
}

.about1:nth-child(8){
    transition-delay: 1400ms;
}
/*PROJECTS*/


.field:nth-child(2){
    transition-delay: 100ms;
}

.field:nth-child(2){
    transition-delay: 200ms;
}

.field:nth-child(3){
    transition-delay: 400ms;
}

.field:nth-child(4){
    transition-delay: 600ms;
}

.field:nth-child(5){
    transition-delay: 800ms;
}
